.App {
  text-align: center;
  background: #c2bebeee;
}

.whoWeAre {
  padding: 10px;
}

.cardProducts {
  padding: 10px;
  display: grid;
  place-content: center;
}

.cardProductsTypography {
  text-align: left;
  margin-bottom: 10px;
}
